* {
  text-align: right;
}

body {
  background-image: url(https://i.natgeofe.com/n/3861de2a-04e6-45fd-aec8-02e7809f9d4e/02-cat-training-NationalGeographic_1484324.jpg);
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2,
p {
  color: red;
  text-align: center;
  border: 5px solid purple;
  cursor: pointer;
}

p {
  color: green;
}

h2 {
  color: blue;
}

li {
  list-style: none;
  display: inline-block;
}

.webtext {
  border: 5px dashed green;
}

#div1 {
  background: violet;
}
